<html>
        <head>
            <title>Tierra en peligro</title>
        </head>
        <body>
            <div>
                <h1><a href="">TIERRA EN PELIGRO</a></h1>
            </div>

            <div>
              {% for post in posts %}
        <div>
            <p>Fecha: {{ post.0.0 }}</p>
            <p>Nombre asteroide: {{ post.0.1 }}</p>
            <p>Diametro máximo: {{post.0.2}}KM</p>
            <p>Diametro mínimo: {{post.0.3}}KM</p>
            <p>URL de datos: {{post.0.4}}</p>
            <p>Potencialmente peligroso?: {{post.0.5}}</p>

            <p>  </p>
        </div>
    {% endfor %}
            </div>
            <div>
                {{data}}
            </div>
        </body>
    </html>
